<a href="https://colab.research.google.com/github/rfb0408/python_data_analyst_study/blob/main/%EA%B4%91%EC%9A%B4%EB%8C%80_2%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#실시간 데이터, 오픈AI에서 미리 신청을 해야한다

In [ ]:
#1.튜플_패킹&언패킹
tri_1=(23,12) #튜플 패킹

bt, ht =tri_1 #튜플 언패킹
print(bt,ht)

23 12

In [ ]:
nums=(1,2,3,4,5)

n1,n2,*others=nums

print(n1)
print(n2)
print(others)

1
2
[3, 4, 5]

In [ ]:
numbers=[('A',1),('B',2),('C',3)]

for x,y in numbers :
    print(x,y,sep=',')

A,1
B,2
C,3

In [ ]:
#2. 딕셔너리
a={1:'apple',2:"orange",3:"banana"}

In [ ]:
print(a[1])
len(a)

apple

3

In [ ]:
print(4 in a)
print(2in a) #in 연산자 key에 관해서만 확인 가능

False
True

In [ ]:
a[1]='peach'
a

{1: 'peach', 2: 'orange', 3: 'banana'}

In [ ]:
a[4]='tomato'
a

{1: 'peach', 2: 'orange', 3: 'banana', 4: 'tomato'}

In [ ]:
print(a.keys())

dict_keys([1, 2, 3, 4])

In [ ]:
print(a.values())

dict_values(['peach', 'orange', 'banana', 'tomato'])

In [ ]:
print(a.items())

dict_items([(1, 'peach'), (2, 'orange'), (3, 'banana'), (4, 'tomato')])

In [ ]:
a={1:'apple',2:"orange",3:"banana"}

In [ ]:
print(a[1])
print(a.get(1))

apple
apple

In [ ]:
print(a[4])

KeyError: ignored

In [ ]:
print(a.get(4))

None

In [ ]:
key = ['a','b','c']
value = [10,20,30]

In [ ]:
dct=dict(zip(key,value))
print(dct)

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
d=dict([(1,'사과'),(2,'바나나')])
print(d)

{1: '사과', 2: '바나나'}

In [ ]:
member ={"이하나":"123!34","서지원":"8@403","박지호":"87954#"}

name=list(member.keys())
n=0

for n in range(3) :
    password=member[name[n]]
    if len(password)>=6 :
        if '!' in password:
            if '@' in password:
                if '#' in password:
                    print("가능합니다")
                else :
                    print("불가능합니다")
            else :
                print("불가능합니다")
        else :
            print("불가능합니다")
    else :
        print("불가능합니다")

불가능합니다
불가능합니다
불가능합니다

In [ ]:
member ={"이하나":"123!34","서지원":"8@403","박지호":"87954#"}

name=list(member.keys())
print(name)
n=0
password=member[name[n]]
print(password)
print(len(password))

['이하나', '서지원', '박지호']
123!34
6

In [ ]:
import random as r

eng_dict = { '사과'   : 'apple', '바나나'  : 'banana',  '복숭아' : 'peach',
             '오렌지' : 'orange', '딸기'   : 'strawberry', '멜론'   : 'melon',
             '학교'   : 'school', '책'     : 'book',  '봄' : 'spring',
             '여름'   : 'summer', '가을'   : 'fall',  '겨울'   : 'winter'
             }

print(list(eng_dict.keys()))

while eng_dict:
    word = r.choice(list(eng_dict.keys()))

    while True:
        word_input=input('{}: '.format(word))

        if word_input ==eng_dict[word] :
            eng_dict.pop(word)
            break

        else:
            print("다시 입력하세요!")
print('모든 단어의 테스트가 종료되었습니다')

In [ ]:
#3. 햄버거 주문하는 프로그램
menu = ('새우버거', '치킨버거', '치즈버거')
price = (5000, 4000, 3000)

#메뉴함수
def my_menu():
    print()
    print('[버거메뉴]')
    for i in range(len(menu)):
        print(i+1,'.',menu[i],'\t가격:',price[i])
    print()

#주문함수
def order(num):
    burger=menu[num-1]
    print("주문 버거: {}".format(burger))

#지불 함수
def pay(num,qty):
    total_price = price[num-1]*qty
    return total_price

#-----------------------------------------------------
def main():
    my_menu()

    b_num = int(input("주문하실 버거 번호를 선택하세요: "))
    order(b_num)

    b_qty = int(input("주문하실 버거 수량을 입력하세요: "))

    b_total = pay(b_num,b_qty)
    print('수량: {}, 결제금액: {}'.format(b_qty,b_total))

if __name__ == '__main__':
    main()

[버거메뉴]
1 . 새우버거 	가격: 5000
2 . 치킨버거 	가격: 4000
3 . 치즈버거 	가격: 3000

주문하실 버거 번호를 선택하세요: 2
주문 버거: 치킨버거
주문하실 버거 수량을 입력하세요: 3
수량: 3, 결제금액: 12000

In [ ]:
print(__name__)

__main__

In [ ]:
def test():
    b=20 #지역변수
    print(a,b)

In [ ]:
a=100 #전역변수
print(a)
test()

100
100 20

In [ ]:
def test_1():
    global b
    b=20 #전역변수
    print(a,b)

In [ ]:
#오픈API

In [ ]:
#'\__name__' : 모듈 이름이 저장되는 내장변수

In [ ]:
#람다함수(익명함수) : 코드의 간결함과 메모리 절약
(lambda x,y : x+y)(10,20)

30

In [ ]:
(lambda x : True if x%3 == 0 else False)(10)

False

In [ ]:
#map(함수, 리스트)

x=[1,2,3,4,5]
y=map(lambda a: a*a, x)
list(y)

[1, 4, 9, 16, 25]

In [ ]:
# filter (함수, 리스트)
x=[1,3,5,7,9]
result = filter(lambda a:a >5, x)
list(result)

[7, 9]

In [ ]:
#리스트 컴프리헨션
a=[1,-5,4,2,-2,10]
b=[2*x for x in a]

b

[2, -10, 8, 4, -4, 20]

In [ ]:
names=['Elwood','Jake']
a=[i.lower() for i in names]

a

['elwood', 'jake']

In [ ]:
a=[1,-5,4,2,-2,10]
b=[2*x for x in a if x>0]

b

[2, 8, 4, 20]

In [ ]:
#딕셔너리의 컴프리헨션

d1=dict(a=1,b=2,c=3)

d2 = {k:v for k,v in d1.items() if v%2}
d2

{'a': 1, 'c': 3}

## 문제1

A 학교에서는 단체 티셔츠를 주문하기 위해 학생별로 원하는 티셔츠 사이즈를 조사했습니다. 선택할 수 있는 티셔츠 사이즈는 작은 순서대로 "XS", "S", "M", "L", "XL", "XXL" 총 6종류가 있습니다.

학생별로 원하는 티셔츠 사이즈를 조사한 결과가 들어있는 리스트 shirt_size가 매개변수로 주어질 때, 사이즈별로 티셔츠가 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 리스트에 담아 return 하도록 solution 함수를 완성해주세요.

---
##### 매개변수 설명
학생별로 원하는 사이즈를 조사한 결과가 들어있는 리스트 shirt_size가 solution 함수의 매개변수로 주어집니다.
* shirt_size 의 길이는 1 이상 100 이하입니다.
* shirt_size 에는 치수를 나타내는 문자열 "XS", "S", "M", "L", "XL", "XXL" 이 들어있습니다.

---
##### return 값 설명
티셔츠가 사이즈별로 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 리스트에 담아 return 해주세요.
* return 하는 리스트에는 [ "XS" 개수, "S" 개수, "M" 개수, "L" 개수, "XL" 개수, "XXL" 개수] 순서로 들어있어야 합니다.

---
##### 예시

| shirt_size                       | return        |
|----------------------------------|---------------|
| ["XS", "S", "L", "L", "XL", "S"] | [1, 2, 0, 2, 1, 0] |

##### 예시 설명
* "XS"와 "XL"은 각각 한 명씩 신청했습니다.
* "S"와 "L"은 각각 두 명씩 신청했습니다.
* "M"과 "XXL"을 신청한 학생은 없습니다.

따라서 순서대로 [1, 2, 0, 2, 1, 0]을 리스트에 담아 return 하면 됩니다.

In [ ]:
def size_count(shirt_size) :
    size =[0 for _ in range(6)]
    for s in shirt_size :
        if s == "XS":
            size[0] +=1
        elif s == "S":
            size[1] +=1
        elif s == "M":
            size[2] +=1
        elif s == "L":
            size[3] +=1
        elif s == "XL":
            size[4] +=1
        elif s == "XXL":
            size[5] +=1
    return size

In [ ]:
shirt_size=["XS","S","L","L","XL","S"]

result =size_count(shirt_size)
print(result)

[1, 2, 0, 2, 1, 0]

In [ ]:
#enumerate

names = ['윤나은','김현주','정현지','이지선','박선주']

for n in enumerate(names,5):
    print(n)

(5, '윤나은')
(6, '김현주')
(7, '정현지')
(8, '이지선')
(9, '박선주')