<a href="https://colab.research.google.com/github/rfb0408/python_data_analyst_study/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_1%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬

#변수

- 변수: 데이터를 저장할 수 있는 이름을 가진 공간

- 동적 타이핑(dynamic typing)언어이다.

In [ ]:
x,y=77,154
print(x,y)

77 154

In [ ]:
# input으로 입력받기
num = input("첫 번째 숫자를 입력하세요: ")
print(num)

첫 번째 숫자를 입력하세요: 1
1

#기본 자료형

In [ ]:
print(type(7))
print(type(7.7))
print(type(True))
print(type('seven'))

num_1 = input("숫자를 입력하세요: ")

print(num_1)
print(type(num_1)) #파이썬에서는 input으로 값을 입력받으면 str로 저장된다!

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
숫자를 입력하세요: 7
7
<class 'str'>

#문자열

문자열 슬라이싱

In [6]:
# 문자열 슬라이싱
a="19970505Rainy"

year=a[:4]
day=a[4:8]
weather=a[8:]

print(year,day,weather)
print(a[0::2]) # 문자열 건너뛰기
print(a[::-1]) # 문자열 뒤집기

1997 0505 Rainy
1900Riy
yniaR50507991

##문자열 함수

문자열 전용함수 : string.format()
- 문자열 포매팅이란, 문자열 안에 어떤 값이나 변수 따위를 삽입하는 방법을 말함!!
- f 문자열 포맷팅 : f "str : {s}"
- 문자열 앞에 'f'접두사를 붙이면 f문자열 포맷팅 사용 가능
- 파이썬 3.6버전부터 사용 가능하므로 3.6미만 버전에서는 사용할 수 없음

In [10]:
love_num="I love number{}".format(7)
print(love_num)

s="python is too fun."
print(f"str:{s}")

I love number7
str:python is too fun.

문자열 개수 세기
- string.count(x, start, end)
- 대소문자를 구분
- 찾을 x에 문자, 문자열 모두 가능
- start index 부분에서 end index 부분까지의 문자열에서 x의 개수를 셈, 범위를 넣지 않으면 처음부터 끝까지 포함

In [19]:
s="python is very fun."

print(f'y의 개수는 : {s.count("y")}') # 홑따옴표로 감쌌으면, 안에 들어가는 따옴표는 쌍따옴표로 사용하셔서 구분하기!
print(f'y의 개수는 : {s.count("y",2,-1)}')
print(f'y의 개수는 : {s.count("y",1,-6)}')

y의 개수는 : 2
y의 개수는 : 1
y의 개수는 : 1

문자열 바꾸기

In [7]:
# 문자열 바꾸기
b="pithon"

b.replace("i","y")
print(b)

pithon

문자열 나누기

- 괄호 안에 아무 값도 넣어주지 않으면 공백(스페이스, 탭, 엔터 등)을 기준으로 문자열을 나눔
- 괄호 안에 특정 값이 있을 경우 괄호 안의 값을 구분자로 해서 문자열을 나눔

In [4]:
phone="010-7777-1313"

print(phone.split("-"))

['010', '7777', '1313']

#제어문

In [20]:
# if문
num = int(input("숫자 입력: "))

if num> 0 :
    print("양수")

if num<0 :
    print("음수")

if num ==0 :
    print("0")

숫자 입력: 1
양수

In [22]:
# if ~else 문
num = int(input("숫자 입력: "))

if num>0:
    print("양수")
else :
    if num<0 :
        print('음수')
    else :
        print('0')

숫자 입력: -1
음수

In [23]:
# if~elif ~else문

num= int(input("숫자 입력: "))

if num>0 :
    print('양수')
elif num == 0:
    print('0')
else :
    print('음수')

숫자 입력: 0
0

#반복문

while: 조건 반복

In [26]:
import random as r # 랜덤 함수 가져옴

n=0
cor=0
while True :
    if n <3 :
        n += 1
        a= r.randint(1,100)
        b= r.randint(1,100)

        print(a,"+",b,"=")
        c=int(input())

        if a+b==c :
            print('정답')
            cor += 1
        else:
            print("오답")
    else :
        break
print("맞춘횟수:",cor)

58 + 15 =
73
정답
58 + 22 =
34
오답
93 + 66 =
159
정답
맞춘횟수: 2

for :계수 반복
- range(start=0, stop, step=1)
- start 값부터 step 간격으로 stop보다 작은 값 을 순서대로 생성

In [27]:
import random as r

cor=0

for i in range(3) :

    a= r.randint(1,100)
    b= r.randint(1,100)

    print(a,"+",b,"=")
    c=int(input())

    if a+b==c :
        print('정답')
        cor += 1
    else:
        print("오답")

print("맞춘횟수:",cor)

93 + 94 =
187
정답
74 + 47 =
121
정답
56 + 62 =
123
오답
맞춘횟수: 2

In [28]:
menu1 = "아메리카노"
menu2 = "카페라떼"
menu3 = "바닐라라떼"
menu4 = "녹차라떼"

price1 = 4000
price2 = 5000
price3 = 5500
price4 = 7700

print("-------------------------")
print("1. 아메리카노 : 4000원")
print("2. 카페라떼   : 5000원")
print("3. 바닐라라떼 : 5500원")
print("4. 녹차라떼 : 7700원")
print("-------------------------")

# 주문하기
menu = int(input("메뉴를 숫자로 입력해주세요:"))
qty = int(input("수량을 입력해주세요:"))

name = ""
price = 0

# 계산하기
if 1 <= menu and menu <= 4:
    if menu == 1:
        name = menu1
        price = price1

    elif menu == 2:
        name = menu2
        price = price2

    elif menu == 3:
        name = menu3
        price = price3

    else:
        name = menu4
        price = price4

    price = price * qty  # *=  복합연산자

    print("주문하신 {}번 {} : {}잔 {}원 입니다. 얼마를 지불하시겠습니까?".format(menu, name, qty, price))
    # 거스름돈 계산하기
    cost = int(input("지불금액:"))
    b  = cost - price

    if b >= 0 :
        print("정상결제 되었습니다. 남은 잔액은 {}입니다.".format(b))
    else :
        print("{}원이 부족합니다.".format(abs(b))) # abs 는 절대값

else:
    print("잘못된 번호입니다.")

-------------------------
1. 아메리카노 : 4000원
2. 카페라떼   : 5000원
3. 바닐라라떼 : 5500원
4. 녹차라떼 : 7700원
-------------------------
메뉴를 숫자로 입력해주세요:2
수량을 입력해주세요:3
주문하신 2번 카페라떼 : 3잔 15000원 입니다. 얼마를 지불하시겠습니까?
지불금액:20000
정상결제 되었습니다. 남은 잔액은 5000입니다.

#복합데이터

## 복합데이터_리스트

- 여러 개의 데이터가 한 공간에 저장하는 데이터 타입
- 리스트 : 여러 개의 데이터를 가진 순서형 자료로 수정 가능

In [30]:
lst=[1,'two',3]
print(lst[1])
len(lst)

two

3

## 리스트 함수들

**list** : 문자열을 리스트로 변환하기

In [31]:
word = 'hello python'
word_list=list(word)
print(word_list)

['h', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

**del** : 리스트 항목 삭제하기

In [32]:
lst=[4,'five',6]

del lst[1]
print(lst)

[4, 6]

**append** : 리스트 요소 추가

**sort** : 리스트 정렬

**reverse** : 리스트 뒤집기

**clear** : 리스트 요소 삭제 (전체)

In [37]:
st=[9,6,11]

st.append(4)
print(st)

st.sort()
print(st)

st.reverse()
print(st)

st.clear()
print(st)

[9, 6, 11, 4]
[4, 6, 9, 11]
[11, 9, 6, 4]
[]

**remove** : 리스트 요소 삭제 (일부)

**pop** : 리스트 요소 꺼내서 반환함 (인덱스 주소를 받는다)

In [40]:
st=[1,2,3,4,5]

st.remove(4)
print(st)

print(st.pop(1)) # 꺼냄과 동시에 반환
st

[1, 2, 3, 5]
2

[1, 3, 5]

## 다중 리스트

In [42]:
lst_1=[1,2,3,['a','b','c']]
a=lst_1[3][1]
print(a)

lst_2=[1,2,['a','b',['python','good']]]
b=lst_2[2][2][0]
print(b)

b
python

In [45]:
# 리스트 사이에 넣기
i_num=[1,2,3,4,5]

i_num[1:3]=[0,0,0,0,0]
print(i_num)

[1, 0, 0, 0, 0, 0, 4, 5]

In [44]:
# 리스트 0으로 수정하기
i_nst=[6,7,8,9]
i_nst[:]=[0]
print(i_nst)

[0]

In [46]:
# 중첩된 리스트 슬라이싱하기
i_lst=[1,2,3,['a','b','c'],4,5]
i_lst[3][:2]

['a', 'b']