<a href="https://colab.research.google.com/github/rfb0408/python_data_analyst_study/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_3%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬 immutable, mutable

mutable, immutable 객체 구분

* mutable
 - 정의 : 변경되는 객체(객체의 상태를 변경할 수 있음)
 - 종류 : list, set, dictionary
 - 객체의 경우에는 모든 객체를 각각 생성해서 참조

* immutable
 - 정의 : 변경되지 않는 객체(객체의 상태를 변경할 수 없음)
 - 종류 : int, float, tuple, str, bool
 - 객체의 값이 같은 경우에 변수에 상관없이 동일한 곳을 참조

- 얕은 복사, 깊은 복사를 그림으로 확인하기 위한 사이트 소개

    - https://pythontutor.com/visualize.html#mode=edit

**사이트 이용 시 주의사항!**


다음과 같이 초기화면에서 설정을 해야한다.
![스크린샷 2023-12-28 132804.png]()

In [ ]:
# immutable 객체 (상태변경 x)
a=256
b=256
c=257
d=257


print(id(a))
print(id(b))
print(id(c))
print(id(d))

132629912002768
132629912002768
132629418162960
132629418163408

id() : 변수(객체)가 가리키는 주소를 확인하는 함수

**a,b가 동일한 메모리 주소가 나오는 이유 :**

값이 같아서 동일한 곳을 참조하기 때문이다.

**c,d가 서로 다른 메모리 주소가 나오는 이유 :**

파이썬은 c파이썬과 j파이썬이 있는데, c파이썬은 256 이하의 숫자는 미리 동적 타이핑을 할당을 해 놓는다.

256이상의 숫자는 그때그때 할당하므로 동적 타이핑이라 주소가 다르다

In [ ]:
# mutable 객체 (상태변경 0)
arr1=[1,2,3]
arr2=[1,2,3]
arr3=[1,2,3]

print(id(arr1))
print(id(arr2))
print(id(arr3))

132629141196224
132629416623104
132629141589888

##파이썬 immutable, mutable 값이 변경될 때

###immutable (상태 변경 불가능 - int, float, str...)

➊ int값 변경

In [ ]:
n1 = 7
n2 = 7
n3 = 7

print(f"n1 값 : {n1} \t주소 : {(id(n1))}")
print(f"n2 값 : {n2} \t주소 : {(id(n2))}")
print(f"n3 값 : {n3} \t주소 : {(id(n3))}")

n1 값 : 7 	주소 : 132629911994800
n2 값 : 7 	주소 : 132629911994800
n3 값 : 7 	주소 : 132629911994800

In [ ]:
n1 += 1
n2 += 1
n3 += 10

print(f"n1 값 : {n1} \t주소 : {(id(n1))}")
print(f"n2 값 : {n2} \t주소 : {(id(n2))}")
print(f"n3 값 : {n3} \t주소 : {(id(n3))}")

n1 값 : 8 	주소 : 132629911994832
n2 값 : 8 	주소 : 132629911994832
n3 값 : 17 	주소 : 132629911995120

➋ str값 변경

In [ ]:
str1 = "Hello"
str2 = "Hello"
str3 = "Hello"
str4 = "Hello"

print(f"s1 값 : {str1} \t주소 : {(id(str1))}")
print(f"s2 값 : {str2} \t주소 : {(id(str2))}")
print(f"s3 값 : {str3} \t주소 : {(id(str3))}")
print(f"s4 값 : {str3} \t주소 : {(id(str4))}")

s1 값 : Hello 	주소 : 132629416907888
s2 값 : Hello 	주소 : 132629416907888
s3 값 : Hello 	주소 : 132629416907888
s4 값 : Hello 	주소 : 132629416907888

In [ ]:
str1 = str1.replace('o','o python')
str2 = "Hello python"
str3 = "Hello"
str4 = str3.upper()

print(f"s1 값 : {str1} \t주소 : {(id(str1))}")
print(f"s2 값 : {str2} \t주소 : {(id(str2))}")
print(f"s3 값 : {str3} \t주소 : {(id(str3))}")
print(f"s4 값 : {str4} \t주소 : {(id(str4))}")

s1 값 : Hello python 	주소 : 132629140037936
s2 값 : Hello python 	주소 : 132629140032240
s3 값 : Hello 	주소 : 132629416907888
s4 값 : HELLO 	주소 : 132629140038000

###mutable (상태 변경 가능 - list, set, dictionary...)

➊ list값 변경

In [ ]:
arr_1 = ['a', 'b', 7]
arr_2 = ['a', 'b', 7]
arr_3 = ['a', 'b', 7]

print(f"arr_1 값 : {arr_1} \t주소 : {(id(arr_1))}")
print(f"arr_2 값 : {arr_2} \t주소 : {(id(arr_2))}")
print(f"arr_3 값 : {arr_3} \t주소 : {(id(arr_3))}")

arr_1 값 : ['a', 'b', 7] 	주소 : 132629141590464
arr_2 값 : ['a', 'b', 7] 	주소 : 132629416883712
arr_3 값 : ['a', 'b', 7] 	주소 : 132629532808832

In [ ]:
arr_1.append(13)
arr_2.append(13)

print(f"arr_1 값 : {arr_1} \t주소 : {(id(arr_1))}")
print(f"arr_2 값 : {arr_2} \t주소 : {(id(arr_2))}")
print(f"arr_3 값 : {arr_3} \t주소 : {(id(arr_3))}")

arr_1 값 : ['a', 'b', 7, 13] 	주소 : 132629141590464
arr_2 값 : ['a', 'b', 7, 13] 	주소 : 132629416883712
arr_3 값 : ['a', 'b', 7] 	주소 : 132629532808832

In [ ]:
arr_1 = [11, 12, [13, 14], 'a', 'b']
arr_2 = [11, 12, [13, 14], 'a', 'b']

print(f"arr_1 : {arr_1} \t주소 : {(id(arr_1))}")
print(f"arr_2 : {arr_2} \t주소 : {(id(arr_2))}")

print(f"arr_1[0] : {arr_1[0]} \t주소 : {(id(arr_1[0]))}") #리스트 안의 같은 값에 대해서는 주소가 같다
print(f"arr_2[0] : {arr_2[0]} \t주소 : {(id(arr_2[0]))}")

print(f"arr_1[2] : {arr_1[2]} \t주소 : {(id(arr_1[2]))}") #리스트 안의 같은 리스트지만 주소는 다르다
print(f"arr_2[2] : {arr_2[2]} \t주소 : {(id(arr_2[2]))}")

arr_1 : [11, 12, [13, 14], 'a', 'b'] 	주소 : 132629416833024
arr_2 : [11, 12, [13, 14], 'a', 'b'] 	주소 : 132629146064128
arr_1[0] : 11 	주소 : 132629911994928
arr_2[0] : 11 	주소 : 132629911994928
arr_1[2] : [13, 14] 	주소 : 132629146071296
arr_2[2] : [13, 14] 	주소 : 132629535314944

#파이썬 얕은 복사, 깊은 복사

##파이썬 얕은복사

**1) 얕은복사란?**

* 정의 : 객체의 참조값, 흔히 말하는 주소값만 복사하는 것을 의미

* 특징

 - 객체의 주소값을 복사하기 때문에, 복사 대상의 값이 바뀌면 복사한 값도 변경
 - 두 변수 간 독립성이 성립하지 않음

In [ ]:
arr_1 = [1, 2, 3]
arr_2 = arr_1 # '='를 해서 얕은복사

print(id(arr_1), id(arr_2))

132629141577600 132629141577600

* 정리
 * immutable 한 객체 (int, float) 등은 얕은 복사 또는 깊은 복사에 영향을 받지 않음

 * 해당 객체는 값이 변경되면 '무조건' 참조가 변경

 * list, set, dictionary 와 같은 mutable한 객체에 대해서 **"얕은복사"**  , **"깊은복사"**를 구분해야 함

[:]슬라이싱을 이용한 얕은 복사

In [ ]:
arr_1 = [4, 5, 6, [2, 4, 8]]
arr_2 = arr_1[:]

print(f'arr_1 : {arr_1}, add : {id(arr_1)}')
print(f'arr_2 : {arr_2}, add : {id(arr_2)}')

arr_1 : [4, 5, 6, [2, 4, 8]], add : 132629532806848
arr_2 : [4, 5, 6, [2, 4, 8]], add : 132629536176448

In [ ]:
arr_2.append(14)

print(f'arr_1 : {arr_1}, add : {id(arr_1)}')
print(f'arr_2 : {arr_2}, add : {id(arr_2)}')

arr_1 : [4, 5, 6, [2, 4, 8]], add : 132629532806848
arr_2 : [4, 5, 6, [2, 4, 8], 14], add : 132629536176448

In [ ]:
arr_1[3].append(10)

print(f'arr_1[3] : {arr_1[3]}, add : {id(arr_1[3])}')
print(f'arr_2[3] : {arr_2[3]}, add : {id(arr_2[3])}')

arr_1[3] : [2, 4, 8, 10], add : 132629416871936
arr_2[3] : [2, 4, 8, 10], add : 132629416871936

copy 메서드, copy 함수를 이용해도 [:]와 동일한 결과가 나옴

In [ ]:
arr_1 = [4, 5, 6, [2, 4, 8]]
arr_2 = arr_1.copy()

print(f'arr_1 : {arr_1}, add : {id(arr_1)}')
print(f'arr_2 : {arr_2}, add : {id(arr_2)}')

arr_1 : [4, 5, 6, [2, 4, 8]], add : 132629533201472
arr_2 : [4, 5, 6, [2, 4, 8]], add : 132629139732864

##파이썬 깊은 복사

**1) 깊은 복사란?**

* 정의 : 깊은 복사는 다른 메모리 공간에 값을 복사함으로써, mutable 객체의 독립성을 유지해주는 역할

* 특징

 - 깊은 복사는 리스트 내부 리스트, 딕셔너리 내부 리스트 등 내부에 있는 객체 모두 새롭게 만들어주는 작업
 - 모든 것을 다 새롭게 복사
 - 독립적

In [ ]:
import copy

arr_1 = [1, 2, [99, 88, 77], 3]
arr_2 = copy.deepcopy(arr_1) # copy 모듈 깊은 복사

print(f'arr_1 : {arr_1}, address : {id(arr_1)}')
print(f'arr_2 : {arr_2}, address : {id(arr_2)}')

arr_1 : [1, 2, [99, 88, 77], 3], address : 132629416872640
arr_2 : [1, 2, [99, 88, 77], 3], address : 132629416877312

In [ ]:
arr_1.append(0)

print(f'arr_1 : {arr_1}, address : {id(arr_1)}')
print(f'arr_2 : {arr_2}, address : {id(arr_2)}')
print(f"arr1[2] : {arr_1[2]}, address : {id(arr_1[2])}")
print(f"arr2[2] : {arr_2[2]}, address : {id(arr_2[2])}")

arr_1 : [1, 2, [99, 88, 77], 3, 0], address : 132629416872640
arr_2 : [1, 2, [99, 88, 77], 3], address : 132629416877312
arr1[2] : [99, 88, 77], address : 132629141585152
arr2[2] : [99, 88, 77], address : 132629416885632

In [ ]:
arr_1[2].append(10)

print(f"arr_1[2] : {arr_1[2]}, address : {id(arr_1[2])}")
print(f"arr_2[2] : {arr_2[2]}, address : {id(arr_2[2])}")
print(f'arr_1 : {arr_1}, address : {id(arr_1)}')
print(f'arr_2 : {arr_2}, address : {id(arr_2)}')

arr_1[2] : [99, 88, 77, 10], address : 132629141585152
arr_2[2] : [99, 88, 77], address : 132629416885632
arr_1 : [1, 2, [99, 88, 77, 10], 3, 0], address : 132629416872640
arr_2 : [1, 2, [99, 88, 77], 3], address : 132629416877312