<a href="https://colab.research.google.com/github/rfb0408/python_data_analyst_study/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_2%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#복합데이터

##복합데이터_튜플

###튜플의 패킹과 언패킹

- tuple packing - 튜플로 값을 묶는 행위


- tuple unpacking - 튜플로 묶여있는 값들을 풀어내는 행위

In [ ]:
# tuple packing
tri_1=(13,7)

# tuple unpacking
at, bt =tri_1
print(at,bt)

# unpacking을 진행할 때, tuple에 저장된 값의 개수랑 변수의 개수가 다른 경우
nums=(1,2,3,4,5)

n1,n2,*others=nums # 둘 이상의 값을 list로 묶을 때 *을 사용한다.

print(n1)
print(n2)
print(others) # tuple이 아닌 list로 묶인다.

13 7
1
2
[3, 4, 5]

In [ ]:
# for구문에서 unpacking

numbers=[('A',1),('B',2),('C',3)]

for x,y in numbers :
    print(x,y,sep=',')

A,1
B,2
C,3

##복합데이터_딕셔너리

###dictionary

In [ ]:
a={1:'apple',2:"orange",3:"banana"}

# key로 dictionary 참조
print(a[1])

# 항목 수 구하기
len(a)

# key 유무 확인
print(4 in a)
print(2in a)

# dictionary의 value 변경 & 추가
a[1]='peach'
a[4]='tomato'
print(a)

apple
False
True
{1: 'peach', 2: 'orange', 3: 'banana', 4: 'tomato'}

In [ ]:
a={1:'apple',2:"orange",3:"banana"}

# key 구하기
print(a.keys())

# value 구하기
print(a.values())

# key & value 구하기
print(a.items())

# dictionary 삭제
print(a.clear())

dict_keys([1, 2, 3])
dict_values(['apple', 'orange', 'banana'])
dict_items([(1, 'apple'), (2, 'orange'), (3, 'banana')])
None

In [ ]:
a={1:'apple',2:"orange",3:"banana"}

print(a[1]) # a[1]이 존재하지 않을 경우 error 발생
print(a.get(1)) # a.get(1)이 존재하지 않을 경우 none값 return

apple
apple

In [ ]:
# 자료형 묶어주기
key = ['a','b','c']
value = [10,20,30]
dct=dict(zip(key,value))

print(dct)

# tuple로 dictionary 만들기
d=dict([(1,'사과'),(2,'바나나')])

print(d)

{'a': 10, 'b': 20, 'c': 30}
{1: '사과', 2: '바나나'}

#함수

- 햄버거 주문하는 프로그램
+ 함수는 예제로 이해하자!

In [ ]:
menu = ('새우버거', '치킨버거', '치즈버거')
price = (5000, 4000, 3000)

# 메뉴함수
def my_menu():
    print()
    print('[버거메뉴]')
    for i in range(len(menu)):
        print(i+1,'.',menu[i],'\t가격:',price[i])
    print()

# 주문함수
def order(num):
    burger=menu[num-1]
    print("주문 버거: {}".format(burger))

# 지불 함수
def pay(num,qty):
    total_price = price[num-1]*qty
    return total_price

#-----------------------------------------------------
my_menu()

b_num = int(input("주문하실 버거 번호를 선택하세요: "))
order(b_num)

b_qty = int(input("주문하실 버거 수량을 입력하세요: "))

b_total = pay(b_num,b_qty)
print('수량: {}, 결제금액: {}'.format(b_qty,b_total))

## 지역변수,전역변수

In [ ]:
def test():

    # global b 라고 b를 선언하면, b는 전역변수가 된다.
    b=20 # 지역변수
    print(a,b)

a=100 # 전역변수

print(a)
test()

100
100 20

## Positional Arguments와 Keyword Arguments
    - Positional Arguments : 함수에 정의된 순서대로 인자를 보냄
    - Keyword Arguments : 인수를 전달할 때 매개변수명을 명시

In [ ]:
def max_num(num1,num2):
    if num1 < num2:
        max_n =num2
    else :
        max_n = num1

    return max_n

max_num(2,3)

# 같은 결과 출력
max_num(num1=2,num2=3)
max_num(num2=3,num1=2)

# 혼용 가능
max_num(2,num2=3)

#에러
max_num(num2=3,2)

#모듈

- 모듈이란?
 - 자주 사용하는 변수, 함수, 클래스 또는 실행 코드들을 모아서 간단한 기능을 담아 놓은 스크립트 파일
  - '모듈이름. py'로 모듈을 만들고, 'import 모듈이름'으로 사용한다!

In [1]:
print(__name__) #__name__ : 모듈 이름이 저장되는 내장 변수

__main__

- 모듈 알아보기!
 - [데이터분석_모듈](https://colab.research.google.com/drive/1V3s69GwL5JoZ25E2NnJwWx2jXU0JgGQv#scrollTo=fd4C8YDIjFGy)

# 예외처리

- try & except

In [ ]:
try:
    num_input = int(input("나이를 입력하세요: "))
    print("입력하신 나이는 다음과 같습니다,",num_input) #예외가 발생할 가능성이 있는 코드
except:
    print("입력이 잘못되었습니다.") #예외가 발생했을 때 할 행동

#else 예외가 발생하지 않았을 떄 실행할 코드
#finally: 무조건 실행할 코드

# 람다, 리스트 컴프리헨션

## 람다함수

- 람다함수 : 즉시 사용하고 버리는 함수
 - 람다함수의 장점 : 코드의 간결함과 메모리 절약
- Map : 사용자가 정의한 임의의 함수에 각 값들을 하나씩 적용
- Filter : 사용자가 정의한 임의의 함수에서 값을 걸러내는 기능을 제공

In [7]:
(lambda x,y : x+y)(10,20)

30

In [8]:
(lambda x : True if x%3 == 0 else False)(10)

False

In [5]:
#map (함수, 리스트)

x=[1,2,3,4,5]
y=map(lambda a: a*a, x)
list(y)

[1, 4, 9, 16, 25]

In [6]:
# filter (함수, 리스트)
x=[1,3,5,7,9]
result = filter(lambda a:a >5, x)
list(result)

[7, 9]

## 리스트 컴프리헨션

- 리스트 컴프리헨션은 시퀸스의 각 원소에 연산을 적용함으로써 새로운 리스트를 생성

In [13]:
# 리스트 컴프리헨션
a=[1,-2,3,2,-13,7]
b=[2*x for x in a]

b

[2, -4, 6, 4, -26, 14]

In [14]:
names=['JeRry','Tom']
a=[i.lower() for i in names]

a

['jerry', 'tom']

In [16]:
a=[1,-2,3,2,-13,7]
b=[2*x for x in a if x>0]

b

[2, 6, 4, 14]

In [15]:
# 딕셔너리의 컴프리헨션

d1=dict(a=1,b=2,c=3)

d2 = {k:v for k,v in d1.items() if v%2}
d2

{'a': 1, 'c': 3}

## enumerate

- enumerate : 여러가지 자료형의 입력을 받으면 index값을 포함해서 반환하는 명령어

In [17]:
names = ['윤나은','김현주','정현지','이지선','박선주']

for n in enumerate(names,5):
    print(n)

(5, '윤나은')
(6, '김현주')
(7, '정현지')
(8, '이지선')
(9, '박선주')